# JamochaMUD INI file version 1.1
[FGColour]
255
255
255

[BGColour]
0
0
0

[MainWindow]
696
169
720
672

[DataBar]
20
440
500
100

[MacroFrame]
false
0
0
0
0

[FontFace]
Monospaced
0
12

[ProxyEnabled]
false
null

[Timers]
false
0
0
0
0
 
[AutoFocusInput]


[AutomaticLogging]


[LocalEcho]
true

[SyncWindows]


[Unicode]


[TFKeyEmu]
true

[DoubleBuffer]


[SplitView]


[ReleasePause]


[AltFocus]


[Anti-aliasing]


[LowColour]


[DividerLocation]
552

[AutoLogPath]


[LogFileNameFormat]


[Browser1]
empty

[Browser2]
empty

[FTPClient]
empty
 
[EMailClient]
empty
 
[LastConnectedMU]


[LogPath]


[HistoryLength]
10

[CommandsFile]
~/CoffeeMud/access_words.txt
